# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master
- DotNet*

pool:
  vmImage: windows-latest

steps:
- script: 
    dotnet add package DocumentFormat.OpenXml --version 2.14.0
      
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: 'DotNetExcelBDD/**/*.csproj'
    # arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: Test
  inputs:
    command: test
    projects: 'DotNetExcelBDD/*Test/*.csproj'
    arguments: '--collect "Code coverage"'
    # arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'
